*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    background-color: rgb(54, 122, 122);
}

.signup_header{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 85vh;
    
   
}
.signup_form{
    
    display: flex;
    border-radius: 10px;
    align-items: center;
    flex-direction: column;
    height: 365px;
    width: 320px;
    gap: 3px;
    color: white;
    background: rgb(27,36,0);
background: linear-gradient(135deg, rgba(27,36,0,1) 1%, rgba(0,0,0,1) 2%, rgba(12,214,255,0.9304096638655462) 65%);
}
h1{
    color: #fff;
    font-size: 40px;
    margin-top: 20px;
}
.signup_form input{
   font-size: 18px;
   background: none;
    margin-top: 8px;
   font-weight: 600;
   color: white;
   border-bottom: 1px solid white;
  
   
}
::placeholder{
    color: #fff;
}



.btn-btn{
    font-size: 20px;
    padding: 10px 25px;
    font-weight: bold;
    border-radius: 10px;
    background-color: black;
    color: #fff;
    margin-top: 5px;
}
.btn-btn:hover{
    background-color: rgb(233, 41, 185);
}
.btn-btn:active{
    transform: scale(0.90);
}
.para-login{
    color: black;
    font-size: 15px;
    font-weight: 500;
    margin-top: 3px;
}
.para-login a{
    font-weight: 700;
}